h1 {
    color: black;
    text-align: center;
  }
  Body {
    color: black;
    text-align: center;
    border-style: solid;


    background-image: url("istockphoto.jpg");
  background-color:grey;
